<% provide(:title, @person.name) %>

<div class="container">
  <p class="person-title main"><%= yield(:title) %></p>
  <% if @person.user.avatar? %>
    <div class="col-sm-6">
      <%= image_tag @person.user.avatar.url, class: "person-avatar" %>
    </div>
  <% end %>
  <br />
  <p class="person-title">Details</p>

  <table class="table table-condensed table-striped person-results">
    <thead>
      <tr>
        <th>Country</th>
        <th>WCA id</th>
        <th>Gender</th>
        <th>Competitions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @person.countryId %></td>
        <td><%= @person.wca_id %></td>
        <td>
          <% if @person.gender == 'm' %>
            Male
          <% elsif @person.gender == 'f' %>
            Female
          <% end %>
        </td>
        <td><%= @person.competitions.count %></td>
      </tr>
    </tbody>
  </table>
  <br />
  <p class="person-title">Current personal records</p>

  <table class="table table-condensed table-striped person-results">
    <thead>
      <tr>
        <th>Event</th>
        <th class="text-right">NR</th>
        <th class="text-right">CR</th>
        <th class="text-right">WR</th>
        <th class="text-right">Single</th>
        <th class="text-right">Average</th>
        <th>WR</th>
        <th>CR</th>
        <th>NR</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <% if @person.participated?(event) %>
          <tr>
            <td><%= event.name %></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"><strong><%= @person.world_rank(event, :single) %></strong></td>
            <td class="text-right"><%= @person.best_solve(event, :single).clock_format %></td>
            <td class="text-right"><%=  %></td>
            <td><strong><%= @person.world_rank(event, :average) %></strong></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br />
  <p class="person-title">History</p>

  <% @events.each do |event| %>
    <% if @person.participated?(event) %>
      <%= event.name %>
      <table class="table table-condensed table-striped person-results">
        <thead>
          <tr>
            <th></th>
            <th>Competition</th>
            <th>Round</th>
            <th>Place</th>
            <th>Result</th>
            <th>details</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% this_results = @person.results.select { |r| r.eventId == event.id } %>
          <% this_results.each_with_index do |result, i| %>
            <% previous = this_results[i-1] unless i == 0 %>
            <% same_competition = previous && (previous.competitionId == result.competitionId) %>
            <tr class="<%= same_competition ? "same-comp" : "" %>">
              <td>
                <%= link_to "/result/#{result.id}" do %>
                  <span class='glyphicon glyphicon-link'></span>
                <% end %>
              </td>
              <td>
                <% if !same_competition %>
                  <%= Competition.find(result.competitionId).name %>
                <% end %>
              </td>
              <td><%= Round.find(result.roundId).name %></td>
              <td><%= result.pos %></td>
              <% result.solves.each_with_index do |solve, i| %>
                <%= content_tag :td, solve.clock_format %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
</div>
